{% extends "main.html" %}

{% block content %}
	<style>
		@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
	</style>
	<style>
		@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
	</style>
	<section class="principal">
		
		<div class="introduce">
			<div class="big-lemma">Get Hired</div>
			<div class="big-lemma">  Navigate Your Next Opportunity with Precision </div>
			<div class="sub-lemma"> Start your journey towards a fulfilling career today ;)</div>
			<button class="trial"> Get Recommendation</button>
			<small> COMPLETELY FREE</small>
		</div>
		<div class="description">
			<div>
				<div class="logoD">
					<i class="material-icons">web</i>
					REJECTION
				</div>
				<div class="textD">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non lacus risus. Vivamus et diam eu neque porta sollicitudin. Sed ornare lobortis risus eget cursus. Phasellus tempor eleifend tincidunt
				</div>
			</div>
			<div>
				<div class="logoD">
					<i class="material-icons">visibility</i>
					SHORTLISTING
				</div>
				<div class="textD">
					Morbi luctus ligula elit, non ornare ipsum cursus sed. Suspendisse quis urna ac nunc porttitor facilisis id sed turpis. Aenean augue purus, imperdiet non arcu nec, viverra maximus leo. Vestibulum imperdiet pharetra lacinia. Vestibulum in tellus a velit maximus 
				</div>
			</div>
			<div>
				<div class="logoD">
					<i class="material-icons">build</i>
					JAVASCRIPT
				</div>
				<div class="textD">
					Nunc ut tortor ac mi viverra consequat. Ut vulputate velit eu odio congue, a molestie orci eleifend. Pellentesque congue accumsan quam. Phasellus ac tincidunt lorem. Cras a rutrum nisi. Phasellus in interdum mauris, eu rutrum ex. Nunc eget dictum sapien.
				</div>
			</div>
		</div>
		<div class="opinion">
			<div class="inside">
				<div class="imageO">
					<img src="https://avatars0.githubusercontent.com/u/5733463?s=460&v=4">
				</div>
				<div class="textO">
					<i>"Damn bro, after one year of using these technologies we’ve had our highest revenue-generating year so far. We exceeded our yearly goal, hitting it one month sooner than expected!"</i>
					<br>
					<small>-Jhon Doe, Creative Headhunter</small>
				</div>
			</div>
		</div>
	</section>	
</body>
</html>

{% endblock content %}
