<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hired AI</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    {% include "nav.html" %}
    
    {% block content %}
    


    {% endblock content %}

    <footer>
        <div class="left">
            OH, HELLO.
            <br>
            <br>
            Want to talk? Drop me a line. I'm always interested in new projects, opportunities, or just chatting. 
            <br>
            <hr>
            <a href="http://migu.es">migu.es</a></div>
        <div class="right">© 2019 MIGUEL RODRIGUEZ</div>
    </footer>
</body>
</html>